<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>



                <div class="col-xs-9 col-xs-offset-1">

                    <ul class="list-inline">

                        <li><span class="text-capitalize lead">Customer comments</span> </li>
                        <li> Sort By:
                            <input type="text" ng-model="sortModel">
                        </li>

                    </ul>

                    <div ng-repeat="comment in dish.comments | orderBy:sortModel">

                        <blockquote>
                            <p>{{comment.rating}} Stars </p>
                            <p>{{comment.comment}}</p>
                            <footer>- {{comment.author}} {{comment.date | date : 'MMM. dd, yyyy'}}</footer>
                        </blockquote>


                    </div>
                </div>

                <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled" ng-show="!commentForm.$invalid">
                        <blockquote>
                            <p>{{comment.rating}} Stars </p>
                            <p>{{comment.comment}}</p>
                            <footer>- {{comment.author}} {{comment.date | date : 'MMM. dd, yyyy'}}</footer>
                        </blockquote>
                    </ul>
                    <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                            <label for="name" class="col-xs-2 control-label">Your name</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="form-group">
                                <label class="radio-inline col-xs-2 control-label"><strong>Number of Stars</strong></label>

                                <label class="radio-inline">
                                    <input name="rating" id="rating1" type="radio" value="1" ng-model="comment.rating">1
                                </label>
                                <label class="radio-inline">
                                    <input name="rating" id="rating2" type="radio" value="2" ng-model="comment.rating">2
                                </label>
                                <label class="radio-inline">
                                    <input name="rating" id="rating3" type="radio" value="3" ng-model="comment.rating">3
                                </label>
                                <label class="radio-inline">
                                    <input name="rating" id="rating4" type="radio" value="4" ng-model="comment.rating">4
                                </label>
                                <label class="radio-inline">
                                    <input name="rating" id="rating5" type="radio" value="5" ng-model="comment.rating">5
                                </label>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                                <label for="comment" class="col-xs-2 control-label">Your comments</label>
                                <div class="col-xs-7">
                                    <textarea class="form-control" id="comment" name="comment" rows="8" ng-model="comment.comment" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="form-group">
                                    <div class="col-xs-9 col-xs-offset-2">
                                        <input type="submit" class="btn btn-primary" value="Submit comment" ng-disabled="commentForm.$invalid">

                                    </div>
                                </div>
                    </form>
                    </div>


                    </div>



                </div>

                <script src="../bower_components/angular/angular.min.js"></script>
                <script src="scripts/app.js"></script>

</body>

</html>
