
    <div class="container">
        <div class="row row-content" ng-controller="IndexController">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object img-thumbnail"
                            ng-src={{featuredish.image}} alt="Uthappizza">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{featuredish.name}}
                            <span class="label label-danger">{{featuredish.label}}</span>
                            <span class="badge">{{featuredish.price | currency}}</span>
                        </h2>
                        <p style="padding-top:10px">{{featuredish.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content" ng-controller="IndexController">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">{{promotion.name}}
                            <span class="label label-danger">{{promotion.label}}</span>
                            <span class="badge">{{promotion.price | currency}}</span>
                        </h2>
                        <p style="padding-top:10px">{{promotion.description}}</p>
                    </div>
                    <div class="media-right media-middle">
                        <img class="media-object img-thumbnail" ng-src={{promotion.image}}>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content" ng-controller="AboutController">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object img-thumbnail" ng-src={{leader.image}}>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{leader.name}}<span class="h4">
                             - {{leader.designation}}</span>
                        </h2>
                        <p style="padding-top:10px">{{leader.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
